body {
  background: #12181B;
}
h1{
  color: white;
  text-align: center;
}
.fa{
  color: white;
  font-size: 30px;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
#container {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
}
#maze {
  position: absolute;
  width: 340px;
  height: 240px;
  background: black;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mbox, .controls {
  height: 100%;
  display: grid;
}
.controls{
  margin-top: -600px;
}
.buttons {
  width: 210px;
  height: 140px;
  background: #222;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: 70px 70px;
  grid-template-columns: 70px 70px 70px;
}
.btn {
  width: 60px;
  height: 60px;
  border: 2px #fff solid;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  border-radius: 8px;
  display: grid;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.2);
}
.chevron {
  height: 20px;
  width: 20px;
  align-self: center;
  justify-self: center;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
#bu {
  grid-column-start: 2;
}
#bd {
  grid-column-start: 2;
  grid-row-start: 2;
}
#bl {
  grid-column-start: 1;
  grid-row-start: 2;
}
#br {
  grid-column-start: 3;
  grid-row-start: 2;
}
#thingie, #home {
  position: absolute;
}
.barrier {
  position: absolute;
  background: #fff;
}
#top {
  top: 20px;
  left: 20px;
  width: 300px;
  height: 2px;
}
#bottom {
  top: 220px;
  left: 20px;
  width: 302px;
  height: 2px;
}
button {
  display: inline-block;
  border: none;
  padding: none;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  -webkit-tap-highlight-color: transparent;
}

button:hover, button:focus {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(1);
  -webkit-appearance: none;
}
@media only screen and (max-width: 1000px){
  .fa{
      font-size: 60px;
      padding: 40px 0 0 40px;
  }
}