* {
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  background-color: #121419;
}
.fa{
  color: white;
  font-size: 30px;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
h1{
  color: white;
  text-align: center;
}
.container{
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-top: -80px;
}
#player {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-30px);
}
#player img{
  width: 50px;
  height: 50px;
}
.obstacle {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
}
#heart-container {
  position: absolute;
  top: 20px;
  left: 60px;
  display: flex;
}
#heart-container img{
  width: 20px;
  height: 20px;
  padding: 5px;
}
#score {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: white;
  background-color: green;
  padding: 10px;
  border:2px solid white;
  border-radius: 25px;
}
@media only screen and (max-width: 1000px){
  .fa{
    font-size: 60px;
    padding: 40px 0 0 40px;
  }
  h1{
    font-size: 60px;
  }
  .container{
    margin-top: 450px;
  }
  #game-container{
    height: 450px;
  }
  #heart-container{
    margin-top: 500px;
  }
  #score{
    margin-top: 500px;
  }
}
