*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	color: white;
	background-color: #121419;
}
a {
	text-decoration: none;
	color: inherit;
}
header {
	top: 0;
	position: sticky;
	position: ~webkit-sticky;
	background-color: black;
}
.navbar {
	max-width: 98rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1.5rem;
}
.navlist {
	position: relative;
	display: flex;
	list-style: none;
}
.nav-item {
	padding-left: 20px;
	min-width: 10rem;
	text-align: center;
	padding-block: 1rem;
}
.line {
	position: absolute;
	bottom: -1rem;
	height: 2px;
	width: 10rem;
	background-color: #fff;
	transition: transform 0.25s;
}
.menu{
	display: none;
}
.nav-item:nth-child(2):hover ~ .line {
	transform: translateX(12rem);
}
.nav-item:nth-child(3):hover ~ .line {
	transform: translateX(23rem);
}
.nav-item:nth-child(4):hover ~ .line {
	transform: translateX(35rem);
}
.container{
	text-align: center;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	column-gap: 10px;
}
.container img{
	margin-top: 25px;
	width: 400px;
	height: 200px;
	cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
	box-shadow: 5px 5px 5px black;
}

@media only screen and (max-width: 1000px){
	.logo{
		font-size: 60px;
		padding: 30px;
	}
    .menu{
    	display: block;
    	cursor: pointer;
  	}
  	.menu-btn{
    	font-size: 70px;
		padding: 30px;
  	}
  	.close-btn{
  		font-size: 70px;
  	}
  	.nav-item{
  		text-align: center;
  		padding: 40px;
  	}
  	.nav-item:hover{
  		color: #121419;
  		padding: 30px;
  		background-color: white;
  		border-radius: 50px;
  	}
  	.navlist{
  		display: none;
    	overflow: hidden;
    	font-size: 40px;
    	transition: 0.5s;
    }
	.navlist.active{
		display: block;
	}
	.container{
		display: flex;
		flex-direction: column;
	}
	.container img{
		margin-top: 50px;
		width: 600px;
		height: 300px;
	}
}
