* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #121419;
}
.fa{
    color: white;
    font-size: 30px;
    padding: 20px;
}
h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: -40px;
}
.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 1em;
}
.hide {
    display: none;
}
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:5px;
    max-width: 300px;
    padding-bottom: 10px;
}
.tile {
    border: 1px dashed white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.playerX {
    color: red;
}
.playerO {
    color: green;
}
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-bottom: 2em;
    cursor: pointer;
}
#reset {
    background-color: #FF3860;
}
@media only screen and (max-width: 1000px){
    h1{
        font-size: 100px;
        padding-bottom: 30px;
    }
    .fa{
        font-size: 60px;
        padding: 40px 0 0 40px;
    }
    .display{
        font-size: 50px;
    }
    .container{
        margin-left: 100px;
        padding-bottom: 30px;
    }
    .tile{
        border: 3px dashed white;
        width: 250px;
        height: 250px;
        font-size: 100px;
    }
    .hide{
        font-size: 60px;
    }
    .controls{
        font-size: 60px;
    }
    #reset{
        font-size: 50px;
    }
}
